# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
pnpm-lock.yaml

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude files specific to personal development process
.hotreload
.devtarget
